<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
    Create an Account
    Adjust Privacy Settings
    Adding Friends
    Creating a Bookboard
    Why does voting sometimes make me include a message?
    Why can't I add a book to a friend's list
    What are those blanks in the book history?
    Close an Account
</p>