<% provide(:title, 'Help') %>
<div id="help">
    <h1>Help</h1>
    <h3>Create an Account</h3>
    <p>Sample text</p>
    <h3>Adjust Privacy Settings</h3>
    <p>Sample text</p>
    <h3>Adding Friends</h3>
    <p>Sample text</p>
    <h3>Creating a Bookboard</h3>
    <p>Sample text</p>
    <h3>Why does voting sometimes make me include a message?</h3>
    <p>Sample text</p>
    <h3>Why can't I add a book to a friend's list</h3>
    <p>Sample text</p>
    <h3>What are those blanks in the book history?</h3>
    <p>Sample text</p>
    <h3>Close an Account</h3>
    <p>Sample text</p>
</div>