<% provide(:title, @user.name) %>
<div class="row">
    <aside class="span4">
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
        <section>
          <h3>Booklists</h3>
          <% if @user.booklists.any? %>
            <ul class="booklists">
              <%= render @booklists %>
            </ul>
          <% else %>
            <p>Nothing to see here...</p>
          <% end %>
        </section>
        <% if current_user?(@user) %>
          <section>
            <%= render 'shared/booklist_form' %>
          </section>
        <% end %>
    </aside>
</div>