// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Help */

#help {
    h3 {
        margin-left: 10px;
        font-size: 1.5em;
        margin-top: 30px;
        text-align: left;
        font-weight: normal;
    }
}